<div id="homepage">
  <ul>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">About Me</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Experience</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Education</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Contact Me</a></li>
  </ul>
  <img id="photo" src="../assets/me.png">
  <h1>Joshua Paup</h1>
  <h3>🚧 Hello folks, I'm still under construction! Check back soon! 🚧</h3>
</div>
