<div id="homepage">
  <ul>
    <li><a href=#about-me>About Me</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Experience</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Education</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Contact Me</a></li>
  </ul>
  <img id="photo" src="assets/me.png">
  <h1>Joshua Paup</h1>
  <a href=#about-me><h3>About Me</h3></a>
</div>

<div id="about-me">
  <ul>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">About Me</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Experience</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Education</a></li>
    <li><a target="_blank "href="https://youtu.be/dQw4w9WgXcQ">Contact Me</a></li>
  </ul>
  <h1>About Me</h1>
  <mat-card>
    <mat-card-content class="card-content">
      <img mat-card-image src="assets/selfie.png" alt="Another photo of me">
      <h2>Hello reader! <br><br>

        My name is Joshua and I'm wrapping up my undergraduate degree at
        the <a target="_blank" href="https://www.colorado.edu/">University of Colorado - Boulder</a> in <a target="_blank" href="https://www.colorado.edu/cs/">
        computer science</a> and <a target="_blank" href="https://www.colorado.edu/math/">mathematics</a>. <br><br>

        I'm currently working as an undergraduate software engineer at the
        <a target="_blank" href="https://lasp.colorado.edu/home/">Laboratory for Atmospheric and Space Physics</a>, and as an undergraduate
        research assistant with the <a target="_blank" href="https://www.internetruleslab.com/">Internet Rules Lab</a> under the supervision of
        <a target="_blank" href="https://caseyfiesler.com/">Dr. Casey Fiesler</a><br><br>

        My personal interests lie between front-end development, UI/UX research
        and design, data visualizations, and data analytics. <br><br>

        Download my CV <a href="assets/paup_cv.pdf" download>here</a>.
      </h2>
    </mat-card-content>
  </mat-card>
  <h3>🚧 Hello reader, I'm still under construction! Check back soon! 🚧</h3>
</div>